*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;;
}
body{
    background-color: #F9F9F9;
}
#limiter{
    background-color: #FB3640;
    width: 70%;
    height: 10px;
    margin: auto;
}
header{
    background-color: #FFF;
    width: 100%;
    height: 5rem;
    color:#141414;
}
h1{
    display: inline;
    line-height: 4.3rem;
    margin-left: 17%;
    
} 
nav{
    float: right;
    line-height: 4.3rem;
    margin-right: 17%;
    text-align: center;
    font-size: 14pt;
}
.nav-items{
    margin-left: 30px;   
}

#input-area{
    display: flex;
    color: #D9d9D9;
    height: 45vh;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-bottom: 3vw;
}

#inputNumber, select{    
    text-align: center;
    background-color: transparent;
    border: none;
    color: #909090;
    
    padding: 10px 0;
}
#inputNumber{
    font-size: 8vw;
    width: 35vw;
    background-color:#F0F0F0;
    border-radius: 1vw;
    
    color:#141414;
}
select{
    font-size: 3vw;
    appearance: none;
    text-align: center;
    background-color: #EBEBEB;
    border-radius: 0px 1vw 1vw 0px;

}

input:focus, select:focus{
    outline-style: none;        
}
#inputNumber:focus{
    animation: focus-animation 600ms ease 0s forwards;
    
}
#new-base-input{
    flex-direction: column; 
}

#results{
    
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    
    margin: auto ;
    
    justify-items: center;
    justify-content: center;
    
}
#content-areas{
    background-color: #EBEBEB;
    border-radius: 1vw;
    margin: 10px 10px;
    width: 320px;
    height: 190px;
}
#base-indicator{
    margin: 15px 0% 5px 25px;
    font-size: 14pt;
}
strong{
    color: #FB3640;
}
#divider{
    height: 3px;
    width: calc(100% - 50px);
    background-color: #141414;
    margin: auto;
}
#converted-number{
    text-align: right;
    margin-right: 25px;
    font-size: 60pt;
    line-height: 90%;
}
#copy-button{
    align-items: center;
    background-color: #FB3640;
    color: white;
    display: flex;
    border: none;
    margin: 15px auto ;
    font-size: 14pt;
    border-radius: 3vh;
    padding: 8px 90px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}
#add-bases{
    border-radius: 4px;
    color:#909090;
    background-color: #EBEBEB;
    padding: 10px 20px;
    margin-left: 10px;
}
#new-base-input{
    display: flex;
    align-items: center; 
}

@keyframes focus-animation {
    0%{background-color: #F0F0F0;}
    100%{background-color: #E3E3E3;}
}
@keyframes scaling-input-area {
    0%{height: 45vh;}
    100%{height: 23vh;}
}
@keyframes scaling-input-field {
    0%{font-size: 8vw;}
    100%{font-size: 6vw;}
}
@keyframes show-results-area {
    0%{display: none;}
    100%{display: grid;}
}