*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;;
}
body{
    background-color: #F9F9F9;
}
#limiter{
    background-color: #FB3640;
    width: 70%;
    height: 10px;
    margin: auto;
}
header{
    background-color: #FFF;
    width: 100%;
    height: 5rem;
}
h1{
    display: inline;
    line-height: 4.3rem;
    margin-left: 17%;
} 
nav{
    float: right;
    line-height: 4.3rem;
    margin-right: 17%;
    text-align: center;
}
.nav-items{
    margin-left: 30px;   
}
#input-area{
    display: flex;
    color: #D9d9D9;
    flex-direction: row;
    height: 88vh;
    justify-content: center;
    align-items: center;
}
input, select{
    text-align: center;
    background-color: transparent;
    border: none;
}
input{
    font-size: 5vw;
    width: 45%;
}
select{
    font-size: 2.5vw;
    appearance: none;
    text-align: center;
    padding-top: 3vw;

}
input:focus{
    outline-style: none;
    
    color: #000000
    
}
