/* HEADER - BEGIN */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;;
}
body{
    background-color: #F9F9F9;
    position: relative;
}
#limiter{
    background-color: #FB3640;
    width: 70%;
    height: 10px;
    margin: auto;
}
header{
    background-color: #FFF;
    width: 100%;
    height: 5rem;
    color:#141414;
}
img{
    height: 2.5rem;
    margin: 15px 0px 0px 17%;
}
nav{
    float: right;
    line-height: 4.3rem;
    margin-right: 17%;
    text-align: center;
    font-size: 14pt;
}
.nav-items{
    margin-left: 30px;   
}
/* HEADER - END */

/* MAIN INPUT - BEGIN */
#input-area{
    display: flex;
    transition: height 300ms;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
}
#inputNumber, #base, #add-bases{    
    text-align: center;
    border: none;
    color: #909090;
    transition: all 150ms ease;
}
#base, #add-bases{
    text-align: center;
    background-color: #EBEBEB;
    width: 70px;

}
#add-bases{
    font-size: 18pt;
    line-height: 20pt;
    border-radius: 4px;
    border-radius: 10px 0px 0px 10px;
    color:#909090;
    padding: 10px 4px;
    margin: 0;
}
#add-bases:hover, #base:hover, #inputNumber:hover{
    scale: 1.02;
    background-color: #E3E3E3;
}
#inputNumber{
    font-size: 6vw;
    width: 35vw;
    max-width: 500px;
    background-color:#F0F0F0;
    border-radius: 10px;
    color:#141414;
    z-index: 1;
}
#base{
    padding: 18px 5px 20px 3px;
    font-size: 20pt;
    appearance: none;
    border-radius: 0px 10px 10px 0px;
}
input:focus, select:focus{
    outline-style: none;        
}
#inputNumber:focus{
    background-color: #E3E3E3;
}
/* MAIN INPUT - END */


/* INPUT NEW BASE - BEGIN */
#insert-new-base{
    width: 70%;
    display: flex;
    justify-content: center;  
    margin: auto;      
    margin-bottom: 4vh;
    transition: all 300ms ease;
}
#new-base-input, #new-base-button{
    padding: 8px 15px;
    border: none;    
    font-size: 14pt;
    animation: fade-in 300ms 0s ease forwards;
}
#new-base-input{
    background-color: #F0F0F0;
    border-radius: 4px 0px 0px 4px;
    width: 160px;
    -moz-appearance: textfield;
}
#new-base-input::placeholder{
    color: #909090;
}
#new-base-button{
    border-radius: 0px 4px 4px 0px;
    background-color: #FB3640;
    color: white;
    transition: background-color 150ms;
}
#new-base-button:hover{
    background-color: #E0313A;;
}
#copied-alert{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 300px;
    height: 25px;
    line-height: 100%;
    margin: auto;
    position: fixed;
    justify-content: center;
    display: flex;
    align-items: center;
    right: 0;
    left: 0;
    padding: 10px 20px;
    border-radius: 4px;
    top: 80vh;
    opacity: 0;
}
/* INPUT NEW BASE - END */

/*RESULTS SECTION - BEGIN*/
#results{    
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto ;    
    justify-items: center;
    justify-content: center;
    opacity: 0;
}
#content-areas{    
    border-radius: 1vw;
    margin: 10px 10px;
    width: 320px;
    max-width: 90%;
    height: 190px;     
    transition: all 100ms ease;
    transition-property: width;

}

.base-indicator{
    margin: 0px 0% 5px 10px;
    font-size: 14pt;
    width: 200px;
}
strong{
    color: #FB3640;
}
input.converted-number{
    width: calc(100% - 25px);
    background-color: #EBEBEB;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 15px 10px;    
}
input::selection{
    background-color: transparent;
    color: #FB3640;
}
.converted-number{
    text-align: right;
    font-size: 60pt;
    line-height: 90%;
}
.copy-button{
    background-color: #FB3640;
    border: none;
    display: flex;
    width: 40px;
    border-radius: 20px;
    margin-left: 10px;
    position: relative;
    top: -20px;
    transition: background-color 150ms;
}
.copy-button:hover{
    background-color: #E0313A;
}
[alt="copy"]{
    width: 20px;
    margin: 0;
    align-content: center;
    margin: auto;
}
/*RESULTS SECTION - END */

/* HOW TO CONVERT - BEGIN */
#how-to-convert{
    width: 45%;
    max-width: 900px;
    margin: auto;
    color: #333333;
}
.htc-title{
    margin: 20px 0 5px 0 ;
}
.line{
    width: 100%;
    margin: auto;
    height: 2px;
    background-color: #E3E3E3;
    border: none;
}
.htc-paragraph{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-height: 20pt;
    margin: 15px 0;
}
b{
    font-family: 'Roboto', sans-serif;
    color: #FB3640;
}
.htc-image{
    height: 324px;
    display: block;
    margin: 25px auto;
}
/*HOW TO CONVERT - END */

@keyframes scaling-input-field {
    0%{font-size: 8vw;}
    100%{font-size: 6vw;}
}
@keyframes scaling-output-numbers {
    0%{font-size: 60pt;}
    100%{font-size: 50pt;}    
}
@keyframes show-results-area {
    0%{display: none;}
    100%{display: grid;}
}
@keyframes new-base-verifier {
    0%{background-color: #EBEBEB;}
    100%{background-color: #FB3640; color: white;}
}
@keyframes showing-alert {
    0%{display: none;}
    100%{display: flex;}
}
@keyframes fade-in {
    from    {opacity: 0;}
    to      {opacity: 1;}
}